/* common */
:root {
  --dusty: #96858F;
  --lavender: #6D7993;
  --overcast: #9099A2;
  --paper: #D5D5D5;
}
html, body {
	height: 100%;
}
body {
	display: flex;
	flex-direction: column;
	margin: auto;
	padding: 0.25em 0.25em 1em 0.25em;
	background: var(--overcast);
	text-align: center;
}
@media screen and (min-width: 30em) {
	body {
		max-width: 30em;
	}
}
footer {
	margin-top: auto;
	padding-bottom: 0.5em;
}
span {
	float: right;
}
input[type='radio']:after {
	width: 11px;
	height: 11px;
	border-radius: 11px;
	top: 0px;
	left: -1px;
	position: relative;
	background-color: var(--paper);
	content: '';
	display: inline-block;
	visibility: visible;
	border: 2px solid white;
}
input[type='radio']:checked:after {
	background-color: var(--lavender);
}
input[type='radio']:disabled:after {
	border-color: var(--overcast);
}
input[type=button] {
	margin: 0 auto;
	border: 2px outset var(--dusty);
	border-radius: 6px;
	background-color: var(--paper);
}
input[type=number], select {
	float: right;
	box-sizing:border-box;
	width: 12em;
	border-width: 0;
	text-align: right;
}
select {
	background-color: white;
}
select:invalid {
	color: grey;
}
option {
	direction: rtl;
	color: grey;
}
hr {
	margin-top: 1em;
	border-color: var(--dusty);
}
a:link {
	color: black;
}
a:active {
	color: var(--paper);
}
a:visited {
	color: black;
}
.smallText {
	font-size: x-small;
}
.container {
	border: 1px solid black;
	border-radius: 22px;
	margin: 0 0.5em 1em 0.5em;
	padding-left: 0.83em;
	padding-right: 0.83em;
	background: var(--paper);
}
.labels {
	text-align: left;
}
.labelsShort {
	margin-bottom: 0.5em;
}
.result {
	font-weight: bold;
}

/* pill arms */
.radios {
	display: grid;
	grid-template-columns: auto 6em auto;
}
.activeArm {
	grid-column: 1/2;
	text-align: right;
	padding-right: 1em;
	padding-bottom: 1em;
	border-right: 1px solid var(--dusty);
	border-bottom: 1px solid var(--dusty);
}
.degreeOrig {
	grid-column: 2/3;
}
.degreeCom {
	margin-top: 1em;
}
.degreeNew1 {
	grid-column: 1/2;
	margin-right: 1em;
	text-align: right;
}
.degreeNew2 {
	grid-column: 3/4;
	margin-left: 1em;
	text-align: left;
}
.passiveArm {
	grid-column: 3/4;
	text-align: left;
	padding-left: 1em;
	padding-bottom: 1em;
	border-left: 1px solid var(--dusty);
	border-bottom: 1px solid var(--dusty);
}

/* navigation */
.naviagtion {
	display: grid;
	grid-template-columns: repeat(3, 1fr);
	margin-left: 0.5em;
	margin-right: 0.5em;
	padding-left: 0.83em;
	padding-right: 0.83em;
	border-radius: 22px;
	background-color: var(--lavender);
	cursor: pointer;
}
@media not screen and (min-width: 30em) {
	.naviagtion {
		height: 2.5em;
	}
}
.navCtrl {
	margin-top: auto;
}
#nav1 {
	grid-column: 1/2;
	color: var(--paper);
}
#nav2 {
	grid-column: 2/3;
}
#nav3 {
	grid-column: 3/4;
}
#page1 {
	display: block;
}
#page2, #page3 {
	display: none;
}